* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 50vw;
  margin: auto;
  background-color: #0e052b;
  color: #2d16b8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px, -3px -3px 10px #2d16b8;
}
label {
  font-size: 18px;
  color: whitesmoke;
}
.container h1 {
  text-align: center;
  color: whitesmoke;
}
input {
  position: relative;
  width: 100%;
  margin: 5px 0 10px 0;
  height: 40px;
  font-size: 18px;
}
.date {
  display: flex;
  justify-content: space-between;
}
.date input {
  width: 48%;
}
#buttons {
  margin-top: 20px;
}
#buttons a {
  position: relative;
  padding: 10px;
  color: #2d16b8;
  border: 2px solid white;
  border-radius: 5px;
}
.hide {
  display: none;
}
#educationContainer {
  margin-bottom: 5px;
  border: 1px solid white;
  padding: 5px;
}
#addEducation {
  background-color: #0e052b;
  color: whitesmoke;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid white;
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer;
}
#addEducation:hover {
  padding: 5px 10px;
  border: 2px solid white;
}
